<div style="height: 350px;" class="m-1">
	<div style="margin-top: 25px;" class="card-body">
		<img style="height: 250px;cursor: pointer;" (click)="redirectToDetails(movie.id)"
			[src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
		<h6 class="card-title mt-4" style="cursor: pointer;" (click)="redirectToDetails(movie.id)">{{movie.title}}</h6>
	</div>
	<div class="d-flex p-2">
		<span class="date me-auto">{{date}}</span>
		<!-- <span class="ms-auto"><i class="fa-regular fa-heart fa-2x"></i></span> -->
	</div>
</div>