<nav class="navbar navbar-expand-lg tertiary p-1 text-dark" style="background-color: #f5d636;">
  <div class="container-fluid nav-item d-flex justify-content-between align-items-center">
    <a class="navbar-brand" routerLink="/" style="font-weight: 650;">Movie App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: transparent;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="wishlist" routerLinkActive="active_link">
            <span class="me-2"><i class="fa-solid fa-heart fa-2x"></i></span>
            <span class="pe-1">WishList</span>
            <sup>
              <span class="count bg-white me-1 p-1">5</span>
            </sup>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
