<div class="row">
    <div class="col-md-4 p-2">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
            class="poster card-img-top" [alt]="movie.title">
    </div>
    <div class="col-md-7 p-4 me-4">
        <div class="d-flex  mt-2">
            <h1 class="card-text me-auto">{{movie.title}}</h1>
            <span class="ms-auto mt-2" (click)="colorHeart()" *ngIf="isHeartFilled else nocolor">
                <i class="fa-regular fa-heart fa-2x"></i>
            </span>
            <ng-template #nocolor>
                <i (dblclick)="removeColor()" class="fas fa-heart fa-2x"></i>
            </ng-template>
        </div>
        <span class="date">{{date}}</span>
        <div class="row mt-3">
            <div class="d-flex">
                <ngb-rating style="font-size: 34px;margin-top:-18px;color:#E4BA10" class="card-text mb-3 me-3" [rate]="movie.vote_average" />    
                <span class="text-danger">({{movie.vote_count}})</span>
            </div>
            <div class="col-md-12">
                <p>{{ movie.overview }}</p>
            </div>
            <div class="col-md-12">
                @for (name of names; track $index) {
                    <button class="btn1 m-2 pe-3"><span class="text-center">{{name}}</span></button>
                }
            </div>
        </div>
        <div class="col-md-7 mt-3">
            <div class="d-flex  mt-2">
                <span class="card-text me-auto">Time-Duration : {{movie.runtime}} Min</span>
                <span class="ms-auto">Language: {{movie.original_language}}</span>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            @for (logo of logos; track $index) {
            <img class="logo m-2" [src]="'https://image.tmdb.org/t/p/w500/' + logo">
            }
        </div>
    </div>